.x-panel-bl, .x-panel-br, .x-panel-bc {background-image: none;}
.x-panel-ml {border-bottom: 1px solid #bbbbbb;}
.x-panel-tl, .x-panel-tr, .x-panel-tc {background-image: none;}
.x-panel-header, .x-panel-tl {background: url("../imagenes/fondo_degradado_banner_content_largo.png") repeat-y scroll right 0 #3C688B; color: #fff !important;}
/*OTROS COLORES
 * #4CA6D5
 * */
.x-panel-tl .x-panel-header {font-size: 1.2em;}

.x-date-inner th, td.x-date-mp-sel a, .x-date-mp-btns, .x-date-bottom {background-image: none;}
.x-btn-text {border: none !important;}

body.x-border-layout-ct {background: none !important; background-color: #f8f8f8 !important;}

/* BOTONES */

/* morado #8078a9 Basico "modificar dades", "canviar"... */
.x-panel-btns .x-btn {
  width: inherit !important;
}

.x-panel-btns .x-btn .x-btn-tl, 
.x-panel-btns .x-btn .x-btn-tr, 
.x-panel-btns .x-btn .x-btn-tc, 
.x-panel-btns .x-btn .x-btn-ml, 
.x-panel-btns .x-btn .x-btn-mr, 
.x-panel-btns .x-btn .x-btn-mc, 
.x-panel-btns .x-btn .x-btn-bl, 
.x-panel-btns .x-btn .x-btn-br, 
.x-panel-btns .x-btn .x-btn-bc {
  background-image: none;
}
.x-panel-btns .x-btn button.x-btn-text, .btn-morado {
    /*background: url("../images/degrblanc2trans_vert_1x30.png") repeat-x scroll 0 -5px #8078a9;*/
    /*url("../images/fondo_degradado_banner_content_largo.png") repeat-y scroll 70% 0 #8078a9;*/
    background-color: #8078a9;
    border: 1px solid #403476 !important;
    border-color: #c4bcfe #403476 #403476 #c4bcfe !important;
    color: #FFFFFF;
    padding: 4px 8px;
    height: 28px;
    font-size: 1.2em;
    font-weight: bold; 
}

/* verde #88cb1f acciones positivas: (guardar, signar, aceptar...) */
.x-date-mp-btns button.x-date-mp-ok, .x-panel-btns .x-btn button.x-btn-text.btn-verde {
    background-color: #88cb1f;
    border-color: #bbcb5f #44980a #44980a #bbcb5f !important;
    color: #FFFFFF;
}

/* rojo #ec021c acciones negativas (netejar, borrar...) */
.x-date-mp-btns button.x-date-mp-cancel, .x-panel-btns .x-btn button.x-btn-text.btn-rojo {
    background-color: #ec021c;
    border-color: #ff465f #a90009 #a90009 #ff465f !important;
    color: #FFFFFF;
}

/* azul #b2dee1 "Buscar" */
.x-panel-btns .x-btn button.x-btn-text.btn-azul {
    background-color: #CFE1E5;
    border-color: #8AB0B1 #589090 #589090 #8AB0B1 !important;
    color: #034040;
}