#images-view .x-panel-body {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

#images-view .thumb {
    padding: 0px;
    height: 60px;
    width: 80px;
    text-align: center;
}

#images-view .thumb img {
    /*height: 100%;
       width: 100%;*/
    max-height: 60px;
    max-width: 80px;
}

#images-view .thumb-wrap {
    float: left;
    margin: 15px 4px 4px 4px;
    padding: 0px;
    height: 60px;
    width: 80px;
    text-align: center;
    border: 1px solid #DDD;
}

#images-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

#images-view .x-view-over {
    border: 1px solid #dddddd;
    background: #efefef url(../img/row-over.gif) repeat-x left top;
    padding: 0px;
}

#images-view .x-view-selected {
    background: #eff5fb url(../img/selected.gif) no-repeat right bottom;
    border: 1px solid #99bbe8;
    padding: 0x;
}

#images-view .x-view-selected .thumb {
    background: transparent;
}

#images-view .loading-indicator {
    font-size: 11px;
    background-image: url('../img/loading_peq.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}

.image-add-button {
    padding: 1px;
    padding-left: 18px;
    background-image: url(../img/image_add.png) !important;
    background-repeat: no-repeat;
}

.image-edit-button {
    padding: 3px;
    padding-left: 18px;
    background-image: url(../img/image_edit.gif) !important;
    background-repeat: no-repeat;
}

.image-delete-button {
    padding: 1px;
    padding-left: 18px;
    background-image: url(../img/image_delete.png) !important;
    background-repeat: no-repeat
}

.color-red {
    color: red;
}

.x-layout-collapsed {
    background-color: #bbb !important;
    border-color: #aaa !important;
}

