/* LAYOUT */
.ujibody {
    font-family: Helvetica, Arial, sans-serif;
    color: #555;
}

.registrado {
    color: #6b6b6b;
    background: #eee url(../imagenes/fondo.gif) repeat left top;
}

.registrado .page {
    background: url("../imagenes/fondo_contenedor_30a.png") repeat scroll left top transparent;
}

.ujiliquid {
    margin: 0 auto;
    max-width: 1250px;
    min-width: 900px;
}

.headL {
    width: auto;
}

.headR {
    width: 335px;
}

/* HEADER */
.head {
    background: url("../imagenes/cabecera_1px.png") repeat-x scroll left top transparent;
    height: 104px;
}

/* Localización */
.site-logo {
    margin: 10px 30px 10px 20px;
}

.site-title {
    max-height: 104px;
}

.logo-hori {
    margin-top: 26px;
}

.site-name, .site-name a {
    color: #fff;
}

.page-slogan {
    color: #CDCCE5;
}

/* Operativa */
.siteMap-link {
    color: #fff;
    margin: 24px 5px 0;
}

.lang-selector {
    display: inline;
    margin-right: 16px;
    border-left: 1px solid #fff;
}

.lang-selector li {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    float: left;
    padding: 24px 5px 5px;
}

.lang-selector a {
    color: #fff;
}

.site-search {
    margin-top: 8px;
}

.site-search .text-area {
    height: 13px;
}

.btn-login, .btn-logout {
    margin-top: 6px;
}

/* BREADCRUMB */
.breadcrumbLink {
    background: url("../imagenes/trail.jpg") no-repeat scroll 98% 50% transparent;
    padding: 0 11px 0 0;
    font-size: .9em;
    display: inline;
    color: #555;
}

.breadcrumbLink.last {
    background: none;
    font-weight: bold;
}

.breadcrumbLink a {
    color: #555;
}

/* BODY */
.body .wrapper {
    background: url("../imagenes/fondo236px_repeatY_bordes1pxBBB.jpg") repeat-y scroll right top transparent;
}

.body .wrapperInner {
    background: url("../imagenes/fondo236px_norepeat_BBB.jpg") no-repeat scroll right bottom transparent;
}

/* main */
.hContent {
    margin: 20px 15px 0;
}

/* rightCol */
.rightCol.uji2011 {
    width: 236px;
    border-top: 1px solid #bbb;
}

.rightCol.uji2011 .line {
    margin: 0 1px;
    display: block;
}

.rightCol.uji2011 .line .line {
    margin: 0;
}

.tagCloud {
    margin: 40px 20px 0 20px;
    font-size: .8em;
}

.socialLinks h3 {
    padding: 0 20px;
}

.socialLinks ul {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: auto;
    padding: 5px 5px 5px 20px;
}

.socialLinksLink {
    margin-right: 5px;
}

.tagsLink, .socialLinksLink {
    display: inline;
}

.bannersSecundarios {
    margin: 10px 0;
}

.sello {
    margin: 0 20px 20px 10px;
}

/* FOOT */
.foot {
    padding: 50px 0 30px;
    margin: 8px 0 0;
    text-align: center;
    color: #777
}

.foot-item {
    border-bottom: 1px solid #bbb;
    padding: 10px;
    margin: 10px 0 20px;
}

/* MENÚS */
.menuLocal li {
    display: block;
    width: 234px;
}

.n1 {
    font-weight: bold;
    background: url("../imagenes/fdo_deg_transp_blan_neg_236x1.png") repeat-y scroll left top #3C688B;
    border-bottom: 1px solid #FFFFFF;
}

.l1 {
    color: #fff;
    padding: 7px 0 5px 9px;
    font-size: 1.2em;
    width: 225px;
}

.n1.colapsable.colapsed .l1 {
    background: url("../imagenes/icoblanco_cerrado.png") no-repeat scroll 218px 7px transparent;
}

.n1.colapsable.expanded .l1 {
    background: url("../imagenes/icoblanco_abierto.png") no-repeat scroll 212px 10px transparent;
}

.n1.colapsable.colapsed ul, .n2.colapsable.colapsed ul {
    display: none;
}

.n2 {
    border-top: 1px solid #FFFFFF;
    background-color: #eee;
    color: #555555;
    font-size: 0.9em;
}

.l2 {
    color: #555555;
    display: block;
    padding: 5px 0 5px 30px;
    width: 204px;
}

.n2.colapsable.colapsed .l2 {
    background: url("../imagenes/arrow555_rig_11x6.png") no-repeat scroll 220px 5px transparent;
}

.n2.colapsable.expanded .l2 {
    background: url("../imagenes/arrow555_dow_11x6.png") no-repeat scroll 216px 8px transparent;
}

.n2.colapsable .l2:hover, .n2 .l2:hover {
    background-color: #ddd;
}

.n3 {
    background-color: #fff;
    color: #555555;
    font-size: 0.9em;
}

.l3 {
    border-top: 1px solid #BBB;
    color: #777;
    display: block;
    margin: 0 15px;
    padding: 5px 15px;
    width: 175px;
}

.l3:hover {
    color: #555;
    background-color: #f2f2f2;
}

.n3.first .l3 {
    border-top: none;
}

.menuLocal .mSpecial .n2 {
    border-top: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    color: #555555;
    font-size: 1.1em;
    font-weight: normal;
}

.menuLocal .mSpecial .n2.first {
    border-top: none;
}

.menuLocal .mSpecial .l2 {
    color: #555555;
    display: block;
    padding: 5px 5px 5px 20px;
    width: 209px;
}

.menuLocal .mSpecial .l2:hover {
    background-color: #EEEEEE;
}

/* BLOQUES y PANELES */
/* Contacto */
.bloque-contacto {
    border: 1px solid #ccc;
    background: #333 url(../imagenes/fondo_contacto.png) repeat left top;
    padding: 15px;
    color: #ccc;
}

.bloque-contacto .titulo {
    font-size: 1.35em;
}

.bloque-contacto .proveedor {
    color: #e59c94;
    font-size: 1.1em;
    margin: 2px 0 10px;
}

/* Banners */
.image-banner {
    overflow: hidden;
    display: block;
    height: 246px;
    background-color: #222;
}

.text-banner {
    background: url("../imagenes/fondo_degradado_banner_content_largo.png") repeat-y scroll right top #336699;
    color: #fff;
}

.text-banner-inner {
    margin: 50px 40px 25px 60px;
}

.text-banner-colapsed {
    height: auto;
    padding: 20px 60px;
}

.bloque-expandable-btn {
    color: #999;
    margin-right: 8px;
    font-size: .9em
}

/* Paneles */
.panel {
    background-color: #3C688B;
}

.panelConPie {
    padding-bottom: 6px;
}

.panelHeader, .panelHeader a {
    color: #fff;
}

.panelHeader {
    background: url("../imagenes/fondo_degradado_banner_content_largo.png") repeat-y scroll right top transparent;
}

.panelDescription {
    background: url("../imagenes/fdeg714b2trans.png") repeat-y scroll left top transparent;
}

.panelTitle {
    padding: 2px 10px 0;
    font-size: 1.8em;
}

.masInfo {
    padding: 8px 10px 0;
    font-size: .9em;
}

.panelContent {
    background: #fff;
    font-size: 1.1em;
}

/*.panelContent a {color: #2970A6;}
 .panelContent a {color: #333;}*/
.panelItem, .listItem {
    border-top: 1px solid #BBBBBB;
    padding: 9px 12px 9px 0;
}

.panelItemImg {
    margin-top: 12px;
}

.panelItemXtraInfo, .itemDate {
    white-space: nowrap;
    text-transform: uppercase;
}

.panelItemXtraInfo {
    font-size: .75em;
}

.itemDate {
    color: #B12937;
    font-size: .85em;
}

.panelItemTitle, .panelItemMoreInfo {
    font-size: 1.15em;
}

.panelItemDescription {
    font-size: .9em;
}

.panelItemIcon {
    margin: 10px 5px 0 12px;
}

.imgItemDestacado {
    vertical-align: bottom;
}

.listItem {
    padding: 15px;
}

.contentText {
    text-align: justify;
}

.contentText p {
    margin: 10px 0;
}

/* GENERALES: estos siempre han de ser los últimos en cargarse. Para modificarlos hay que extenderlos. */
.rf, .masInfo {
    float: right;
}

.lf, .social-links li, .wrapper, .wrapperInner, .menuLocal * {
    float: left;
}

.mr16 {
    margin-right: 16px;
}

.mr8, .social-links li {
    margin-right: 8px;
}

.mt40 {
    margin-top: 40px;
}

.mb8 {
    margin-bottom: 8px;
}

.hidden {
    left: -5000em;
    position: absolute;
}

acronym {
    border-bottom: none; /* Firefox */
}

.onlyPrint {
    display: none;
}

/* Botones*/
.btn, .btn-link {
    font-weight: bold;
    padding: 0 3px;
    cursor: pointer;
}

.btn {
    margin: 0 0 0 3px;
}

.btn-link {
    padding: 1px 5px 0px;
}

.btn-blue {
    background-color: #CFE1E5;
    border: 1px solid #8AB0B1;
    border-color: #8AB0B1 #589090 #589090 #8AB0B1;
    color: #034040;
}

.btn-blue a {
    color: #034040;
}

.btn-purple {
    background-color: #7F3F93;
    border: 1px solid #5D1D71;
    border-color: #6E2E82 #5D1D71 #5D1D71 #6E2E82;
    color: #FFCFFC;
}

.btn-purple a {
    color: #FFCFFC;
}

.btn-red {
    background-color: #9C2B3F;
    border: 1px solid #69080c;
    border-color: #69080c #58070B #58070B #69080c;
    color: #DF8A9A;
}

.btn-red a {
    color: #ffbdcd;
}

/* Cabeceras - Títulos */
h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

.title-white {
    color: #fff;
}

/* Bubbles */
.ujiBubbleContent {
    padding: 10px 20px 6px;
    background: url("../imagenes/degrblanc2trans_vert_1x30.png") repeat-x scroll 0 0 transparent;
}

.ujiBubblePic .unit {
    height: 15px;
}

.ujiBubblePic .phead {
    width: 50px;
}

.ujiBubblePic .ppic {
    background: url("../imagenes/picoBubble.png") no-repeat scroll center bottom transparent;
    width: 32px;
}

.ujiBubbleContent, .ujiBubblePic {
    background-color: #434343;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

/*.contentLink {color: #2970A6;}
 .contentLink:visited {color: #380880;}*/
a.active {
    font-weight: bold;
}

/* Tags */
.tagsLink a {
    background-color: #ddd;
    margin: 2px;
    padding: 2px 4px 1px;
    font-size: .8em;
    white-space: nowrap;
}

.tagsLink a {
    color: #333;
}

.tagsLink a:hover {
    background-color: #777;
    color: #eee;
    text-decoration: none;
}

.listItem .itemTags {
    margin: 10px 0;
}

/* Fondos */
.fazul {
    background-color: #3C688B;
}
 /*default*/
.fazulClaro {
    background-color: #2A97C2;
}

.fnaranja {
    background-color: #F27427;
}

.fverde {
    background-color: #439560;
}

.fverdeOscuro {
    background-color: #323F2F;
}

.fverdeClaro {
    background-color: #88CB1F;
}

.fmorado {
    background-color: #7F3F93;
}

.frojo {
    background-color: #B12937;
}

.frojoOscuro {
    background-color: #890712;
}

.fnegro {
    background-color: #2b2b2b;
}

/* Bordes */
.borde4BBB {
    border: 1px solid #BBB;
}

.bordeDowBBB {
    border-bottom: 1px solid #BBB;
}

.backFFF {
    background-color: #fff;
}

.backEEE {
    background-color: #eee;
}

.backDDD {
    background-color: #ddd;
}

.noBorder {
    border: none;
}

.w1 {
    font-size: 1.2em;
}

.w2 {
    font-size: 1.4em;
}

.w3 {
    font-size: 1.6em;
}

.w4 {
    font-size: 1.8em;
}

.w5 {
    font-size: 2em;
}

/* PAGER */
.pager {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.pagerLink {
    display: inline;
    margin: 0 5px;
}

.pagerLink a {
    background-color: #88CB1F;
    padding: 4px 8px 3px;
    white-space: nowrap;
    color: #323F2F;
}

.pagerLink a:hover {
    text-decoration: none;
    color: #c2f2c2;
    background-color: #439560;
}