.uji-verticalAlign {
    display: table-cell;
    vertical-align: middle;
}

.metadatos-salto-linea {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: auto;
}

.metadatos-button {
    text-align: center;
}

a.button {
    color: #fff !important;
}

a.button {
    text-decoration: none;
}

.uji-tratamiento-datos p {
     margin: 0.4rem;
}

/* calendario jquery UI*/
.ui-widget {
    font-size: 1em !important;
}

/*Ajustes sobre plantilla CSS original*/

.orbit-container {
    height: auto;
}

.flex-video {
    padding-top: 0;
    padding-bottom: 56.2%;
    margin-bottom: 0;
}

.uji16-leerMas {
    line-height: 1.1;
    font-size: 1.4rem;
}

.uji16-contentTags.menu.simple {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.uji16-contentTags.menu.simple li:hover, .uji16-contentTags.menu.simple li:focus {
    background: #92969e;
}

/*--------------------------------------------*/
