<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div class="unit ujiBubble" th:fragment="bubble-verde" xmlns:th="http://www.thymeleaf.org">
  <div class="ujiBubbleContent fverde">
    <h2 class="mainContentTitle title-white" th:text="${page.title}">Física básica</h2>
  </div>
  <div class="ujiBubblePic fverde lf">
    <div class="unit phead backFFF"></div>
    <div class="unit ppic"></div>
  </div>
</div>
