<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
  <title th:text="${page.title}">Título de la página</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <base th:href="${urlBase}" />
  <link rel="stylesheet" type="text/css" media="all" href="css/oocss.css" />
  <link rel="stylesheet" type="text/css" media="all" href="css/uji2011.min.css" />
  <link rel="stylesheet" type="text/css" media="print" href="css/uji2011_print.css" />
  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.cookie.js"></script>
  <script type="text/javascript" src="js/jquery.vticker.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/menulocal.js"></script>
  <script type="text/javascript" src="js/bloque-colapsable.js"></script>
</head>
