<div th:fragment="menu">
  <ul class="menuLocal">
    <li class="navLink menuLocalLink mSpecial fverde colapsable colapsed first n1"><a href="#" class="l1 mSpecial fverde colapsable colapsed">En aquest curs...</a>
      <ul class="navigationItem">
        <li class="navLink navigationItemLink first n2"><a href="#" class="l2">Presentaci&oacute;n</a></li>
        <li class="navLink navigationItemLink n2"><a href="#" class="l2">Materiales</a></li>
        <li class="navLink navigationItemLink n2"><a href="#" class="l2">Guia didactica</a></li>
        <li class="navLink navigationItemLink n2"><a href="#" class="l2">Evaluaci&oacute;n</a></li>
        <li class="navLink navigationItemLink n2"><a href="#" class="l2">Descargar curso</a></li>
        <li class="navLink navigationItemLink last n2"><a href="#" class="l2">Enlace Aula Virtual</a></li>
      </ul></li>
    <li class="navLink menuLocalLink n1"><a href="#" class="l1">Sobre OCW</a>
      <ul class="navigationItem">
        <li class="navLink navigationItemLink first n2"><a href="#" class="l2">Que es OCW?</a></li>
        <li class="navLink navigationItemLink last n2"><a href="#" class="l2">Cursos</a></li>
        <li class="navLink navigationItemLink last n2"><a href="#" class="l2">Busqueda avanzada</a></li>
        <li class="navLink navigationItemLink last n2"><a href="#" class="l2">FAQ</a></li>
      </ul></li>
    <li class="navLink menuLocalLink colapsable colapsed n1"><a href="#" class="l1 colapsable colapsed">Categories</a>
      <ul class="navigationItem">
        <li class="navLink navigationItemLink colapsable colapsed first n2"><a href="#" class="l2 colapsable colapsed">Departaments</a>
          <ul class="navigationItem">
            <li class="navLink navigationItemLink first n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink active n3"><a href="#" class="l3 active">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink last n3"><a href="#" class="l3">catn (n cursos)</a></li>
          </ul></li>
        <li class="navLink navigationItemLink colapsable expanded last n2"><a href="#" class="l2 colapsable expanded">Materials</a>
          <ul class="navigationItem">
            <li class="navLink navigationItemLink first n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink n3"><a href="#" class="l3">catn (n cursos)</a></li>
            <li class="navLink navigationItemLink last n3"><a href="#" class="l3">catn (n cursos)</a></li>
          </ul></li>
      </ul></li>
    <li class="navLink menuLocalLink last n1"><a href="#contactContent" class="l1">Contacto</a></li>
    <li class="navLink menuLocalLink last n1"><a href="#" class="l1">Otros OCWs</a></li>
  </ul>
</div>