<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="head" />

<body class="ujibody">
  <ul class="saltar-accesible hidden" th:include="access-keys" />

  <div class="page liquid ujiliquid gs960">
    <div id="header" class="head mb8" th:include="header" />
    <div class="line bloque  mb8 backFFF" th:include="breadcrumb" />
    <div class="body">
      <div class="wrapper">
        <div class="wrapperInner">
          <div id="rightCol" class="rightCol uji2011" th:include="columna-derecha" />
          <div id="main" class="main">
            <div class="mainInner mr8">
              <div id="mainContent" class="mb8 mainContent">
                <div class="line">
                  <div class="unit size1of1 borde4BBB backFFF first last">
                    <div class="line hContent">
                      <div class="unit ujiBubble" th:include="bubble-verde" />
                      <div class="unit rf" th:include="addthis" />
                    </div>
                    <div class="contentItem pContent">
                      <div class="itemBody contentText">
                        <div class="line mt20">
                          <div class="unit" th:each="imagen : ${page.imagenes}">
                            <img width="250" style="margin: 0 10px 0 0" class="itemImg lf" src="imagen.jpg" th:src="${imagen}" alt="subdestacado" />
                          </div>
                          <div class="unit lastUnit" th:each="texto : ${page.textos}">
                            <p th:utext="${texto.contenido}">Texto del contenido</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="contactContent" class="line bloque-contacto" th:include="contacto" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot backFFF" th:include="footer" />
  </div>
</body>
</html>