<h1>Contenido individual</h1>
<img />
<form action="http://www.uji.es/bin/Forms" method="post">
        <label>pepe</label>
        <input style="font-size:9pt" id="nom" name="nom" type="text" />
</form>

<!-- validador w3c para HTML%, new no está permitido -->
<a href="www.google.com" target="_new">a</a>

