<h1>Contenido individual</h1>
<img src="http://www.google.com" alt="ok"/>

<form action="http://www.uji.es/bin/Forms" method="post">
        <label for="nom">pepe</label>
        <input style="font-size:1em" placeholder="nom" id="nom" name="nom" type="text" />

</form>

<!-- validador w3c para HTML%, -->
<a href="http://www.google.com" target="_blank">a</a>
